body{
    background:#1e1e1e;
    color: white;

}

.Users_title{
    font-size: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.all_users {
    display:flex;
    justify-content:center;
    margin:20px;
}

.user_ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 20px;
    padding: 10px;
    font-family: sans-serif;
    font-size: x-large;
}

.add_user{
    font-size: 30px;
    text-decoration: none;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    }

.add_user a{
    text-decoration: none;
    color: white;
}

.add_user_form{
    display: grid;
    justify-content: center;
    grid-template-columns: 500px;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 400px;
    left: 45rem;
    font-family: sans-serif;
}

.add_form_display{
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 200px;
    justify-content: center;
    height: 80vh;
    align-items: center;
    font-family: sans-serif;
    line-height: 23px;
}

.user_login_form {
display: grid;
grid-template-columns: 191px;
justify-content: center;
align-content: center;
position: relative;
top: 20em;
font-family:sans-serif;
}


ul {

    list-style: none;
    gap: 20px;
    padding: 10px;
    font-family: sans-serif;
    font-size: x-large;
}

.Users_display{ display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 20px;
    padding: 10px;
    font-family: sans-serif;
    font-size: x-large;
}


a{
text-decoration: none;
color: white;
transition: 0.6s
}

li a:hover {
font-size: 40px;
color: #1e1e1e;
transition: 0.6s;
background-color:white;
padding: 50px;
}

img {
height: 10em;}

.movie_list_box{
    margin-top: 50px;
    display: grid;
    justify-content: space-evenly;
}


.movie_list{
     margin: 10px;
    display: grid;
    list-style: none;
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 0px;
    row-gap: 50px;}

.movie_container {
    display: grid;
    justify-content: center;
    text-wrap: nowrap;
    grid-template-columns: 132px;
    margin: 20px;
    overflow: hidden;
    font-size: 20px;
    transition: 1s;
    opacity: 0.2;
}

.movie_container:hover {
    opacity: 1;
    transition: 0.5s;
}

.account_settings_form{
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
    padding: 50px;
    font-family: sans-serif;
}
.account_deletion{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.welcome_message {
    font-size: 30px;
    font-family: sans-serif;
    display: grid;
    justify-content: space-evenly;
    text-align: center;
    margin: 50px;
    line-height: 15px;
}

.top_buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    }

.home_button{
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    transition: 0.6s;
}


.home_button:hover {
    font-size: 20px;
    font-family: sans-serif;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.6s;
    }

.button {
    font-size: 16px;
    font-family: sans-serif;
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.6s;
}

.button:hover {
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
    transition: 0.6s;
    cursor: pointer;
    }

.form_button {
    font-size: 16px;
    font-family: sans-serif;
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.6s;
}

.form_button:hover {
    color: red;
    transition: 0.6s;
    cursor: pointer;

}


.input_box {
    background: transparent;
    border: solid 1px white;
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;}

.success_message{
    font-family: sans-serif;
    font-size: 30px;
    display: grid;
    justify-content: center;
    text-align: center;}


/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    background: transparent;
    color: white;
    position: relative;
    margin-top: 10px;
    padding: 20px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;

}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;

}

li {
    text-align: center;
    overflow: hidden;
}

.top_left_position {

display: flex;
gap: 20px;
margin: 20px;

}

.highlight_button {
    font-size: 16px;
    font-family: sans-serif;
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.6s;
}

.highlight_button:hover {
    border: solid 1px white;
    border-radius: 25px;
    transition: 1s;
    cursor: pointer;
    padding: 10px 25px;
}

.setting-display {
     display: grid;
    grid-template-columns: auto;
    font-size: 50px;
    font-family: sans-serif;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 50px;
    row-gap: 20px;
    text-align: center;}

.setting-display a{
font-size: 50px;}



.movie_info_box
{    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    color: white;
    border: solid 1px white;
    overflow: hidden;}

.color_button {
    text-decoration: none;
    color: transparent;
    background: transparent;
    border: none;
    padding: 50px 50px;
    border-radius: 5px;
    opacity: 0.5;
    transition: 0.2s;
}

.color_button:hover {
    opacity: 1;
    transition: 0.5s;
    color: white;
    font-size: 20px;
}

.personalised_settings_box {

    display: grid;
    justify-content: center;
    text-align: center;
    gap: 50px;
    font-family: sans-serif;
    position: relative;
    top: 292px;
}


.bg_red {
    background-color: red;
    }

.bg_blue {
    background-color: blue;
   }

.bg_green {
    background-color: green;
    }

.bg_orange {

    background-color: orange;
   }

.bg_purple {
    background-color: purple;
    }


