<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="add_user_form">
<div >
     <h1>Update Movie</h1>
    <div>
        <h1>{{movie}}</h1>
    </div>
    <form method="POST" action="/users/{{id}}/update_movie/{{movie_id}}">
        <label for="Rating">What is the rating you would like to give it?</label>
        <input class="input_box" type="text" id="Rating" name="Rating" value="{{Rating}}">
        <label for="notes">What are your thoughts on this film?</label>
        <input class="input_box" type="text" id="notes" name="notes" value="{{notes}}" required>
        <input class="button" type="submit" value="Submit">
    </form>
</div>
</div>

</body>
</html>