<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user["name"]}} Homepage</title>
</head>
<body>
<div>
    <h1>Welcome {{user["name"]}}</h1>
    <h2>Here is your movie database</h2>
</div>
<a href="/">Home</a>
<div class="movie_list">
    <ul>
{% for movie in movies %}
    <li>{{movie["Title"]}}</li>
        {% if movie['Poster'] %}
            <img class="movie_poster" alt="movie_poster" title="{{movie['Notes']}}" src="{{movie['Poster']}}">
        {% endif %}

        <form method="GET" action="/users/{{user_id}}/update_movie/{{movie['id']}}">
        <input class="button" type="submit" value="Update">
        </form>

        <form method="DELETE" action="/users/{{user_id}}/delete_movie/{{movie['id']}}">
            <input type=hidden name="delete_movie" value="{{movie['Title']}}">
        <input class="submit-button" type="submit" value="Delete">
        </form>
{% endfor %}
    </ul>
</div>

</body>
</html>