<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users - MovieWeb App</title>
</head>
<body>
<div>
<h1>Users</h1>
</div>
<div>
    <a href="add_user">Add user</a>
</div>

<div>
    <ul>
    {% for user in users %}
        <li><a href="/users/{{user['id']}}">{{user["name"]}}</a></li>
        <br>
        <form method="GET" action="/users/{{user['id']}}/add_movie">
            <input class="button" type="submit" value="Add movie">
        </form>
        {% endfor %}
    </ul>
</div>

</body>
</html>