<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user["name"]}} Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>
<body>

<div class="top_left_position">
<div><button onclick="logout()" class="highlight_button">Logout</button></div>
<div><a class="highlight_button" href="/users/{{user_id}}/settings">Settings</a></div>
</div>
    <div class="welcome_message">
    <h1>Welcome {{user}}</h1>
    <h2>Here is your movie database</h2>
</div>


<div class="top_buttons">
     <form method="GET" action="/users/{{user_id}}/add_movie">
         <input class="highlight_button" type="submit" value="Add movie">
     </form>
</div>

<div class="movie_list_box">
    <ul class="movie_list">
{% for movie in movies %}
        <div class="movie_container">

        {% if movie['Poster'] %}
        <a href="https://www.imdb.com/title/{{movie['imdbID']}}"><img class="movie_poster" alt="movie_poster" title="{{movie['Notes']}}" src="{{movie['Poster']}}"></a>
            <li>{{movie["Title"]}}</li>
        {% endif %}

        {% if movie['Title'] %}
            <div class="movie_info_box">
                <div class="Rating">
                    <p>{{movie['imdbRating']}}</p>
                </div>
            <div class="update_delete_buttons">
            <form method="GET" action="/users/{{user_id}}/update_movie/{{movie['id']}}">
            <input class="form_button" type="submit" value="Update">
            </form>

            <form method="POST" action="/users/{{user_id}}/delete_movie/{{movie['id']}}">
                <input type=hidden name="delete_movie" value="{{movie['Title']}}">
            <input class="form_button" type="submit" value="Delete">
            </form>
            </div>
            </div>
        {% endif %}
      </div>
{% endfor %}
    </ul>
</div>

</body>
</html>